<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:web="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
  <display-name>ProcesamientoFormularioServlet</display-name>
  <servlet>
    <servlet-name>ProcesamientoFormularioServlet</servlet-name>
    <servlet-class>servlets.ProcesamientoFormularioServlet</servlet-class>
    <init-param>
      <param-name>usuarioRemoto</param-name>
      <param-value>aruiz</param-value>
    </init-param>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>ProcesamientoFormularioServlet</servlet-name>
    <url-pattern>/ProcesarDatos</url-pattern>
  </servlet-mapping>
</web-app>