<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:web="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
  <display-name>MuestraVariablesServidor</display-name>
<!--   <servlet> -->
<!--     <servlet-name>BienvenidaServlet</servlet-name> -->
<!--     <servlet-class>Bienvenida08</servlet-class> -->
<!--     <init-param> -->
<!--       <param-name>usuarioRemoto</param-name> -->
<!--       <param-value>aruiz</param-value> -->
<!--     </init-param> -->
<!--     <init-param> -->
<!--       <param-name>log</param-name> -->
<!--       <param-value>1</param-value> -->
<!--     </init-param> -->
<!--     <load-on-startup>1</load-on-startup> -->
<!--   </servlet> -->
  <servlet>
    <servlet-name>Despedida</servlet-name>
    <servlet-class>servlets.Despedida</servlet-class>
    <init-param>
      <param-name>usuarioRemoto</param-name>
      <param-value>aruiz</param-value>
    </init-param>
    <init-param>
      <param-name>log</param-name>
      <param-value>1</param-value>
    </init-param>
    <load-on-startup>1</load-on-startup>
  </servlet>
<!--   <servlet-mapping> -->
<!--     <servlet-name>BienvenidaServlet</servlet-name> -->
<!--     <url-pattern>/Bienvenida</url-pattern> -->
<!--   </servlet-mapping> -->
<!--   <servlet-mapping> -->
<!--     <servlet-name>BienvenidaServlet</servlet-name> -->
<!--     <url-pattern>/bienvenida</url-pattern> -->
<!--   </servlet-mapping> -->
  <servlet-mapping>
    <servlet-name>Despedida</servlet-name>
    <url-pattern>/Despedida</url-pattern>
  </servlet-mapping>
</web-app>